<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alef_Academy_Main</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Alef_Academy_Main.styles.css" asp-append-version="true" />
</head>

<style>
    /* Navbar styles */
    .navbar-toggler {
        border-color: white;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
    }

    .dropdown-menu-right {
        right: 0;
        left: auto;
    }

    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }

    .dropdown-item {
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }

        .dropdown-item:hover,
        .dropdown-item:focus {
            color: #16181b;
            text-decoration: none;
            background-color: #f8f9fa;
        }

    #dropdownMenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
    }

    .navbar-nav .nav-item:hover .dropdown-menu {
        display: block;
    }

    .footer {
        margin-top: 5px;
        font-size: 16px;
        color: white;
    }

    /* Footer styles */
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        background-color: #F48C4A;
        color: white;
    }

    .footer-column {
        flex: 1;
        margin: 10px;
    }

        .footer-column h3 {
            margin-bottom: 10px;
            color: white;
        }

        .footer-column ul {
            list-style: none;
            padding: 0;
        }

            .footer-column ul li {
                margin-bottom: 5px;
                color: white;
            }

                .footer-column ul li a {
                    color: white;
                    text-decoration: none;
                }

                    .footer-column ul li a:hover {
                        text-decoration: underline;
                    }

    /* Navbar color */
    .bg-footer-color {
        background-color: #F48C4A;
    }
</style>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-footer-color border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="logo d-flex align-items-center">
                    <img src="~/img/logo.jpeg" alt="ALEF Online Academy" style="width: 50px; height: auto; border-radius: 50%;">
                </div>
                <a class="navbar-brand text-black ms-3" asp-area="" asp-controller="Home" asp-action="Index">ALEF Online Academy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-black dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Courses
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("Science", "Courses")">Science</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Maths", "Courses")">Maths</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Coding", "Courses")">Coding</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("LanguageStudies", "Courses")">Language Studies</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Business", "Courses")">Business</a></li>
                                <!-- Add more dropdown options as needed -->
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="Internships" asp-action="Create">Internships Available</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="ContactUs" asp-action="Create">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-black" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Languages
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <li><a class="dropdown-item" href="#" onclick="translatePage('en')">English</a></li>
                                <li><a class="dropdown-item" href="#" onclick="translatePage('ar')">Arabic</a></li>
                                <li><a class="dropdown-item" href="#" onclick="translatePage('pl')">Polish</a></li>
                                <li><a class="dropdown-item" href="#" onclick="translatePage('de')">German</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-column">
                <h3>Contact Information</h3>
                <ul>
                    <li>ALEF Online Academy</li>
                    <li>123 Language Way, City, Country 12345</li>
                    <li>Phone: +123-456-7890</li>
                    <li>Email: info@alefonlineacademy.com</li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#courses">Courses</a></li>
                    <li><a href="#careers">Careers</a></li>
                    <li><a href="#shop">Shop</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Social Media</h3>
                <ul>
                    <li><a href="https://www.facebook.com/alefonlineacademy">Facebook</a></li>
                    <li><a href="https://twitter.com/alefonlineacademy">Twitter</a></li>
                    <li><a href="https://www.linkedin.com/company/alefonlineacademy">LinkedIn</a></li>
                    <li><a href="https://www.instagram.com/alefonlineacademy">Instagram</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Subscribe to Our Newsletter</h3>
                <form>
                    <input type="email" placeholder="Enter your email" style="color: black;" />
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
