@model IEnumerable<Alef_Academy_Main.Models.Internship>

@{
    ViewData["Title"] = "Internship Applications";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Apply For Internship</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Position)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.CvFileName)</th>
                <th>@Html.DisplayNameFor(model => model.PortfolioLink)</th>
                <th>@Html.DisplayNameFor(model => model.IsAwareOfUnpaid)</th>
                <th>@Html.DisplayNameFor(model => model.IsAvailableASAP)</th>
                <th>@Html.DisplayNameFor(model => model.IsCommitToThreeMonths)</th>
                <th>@Html.DisplayNameFor(model => model.IsAwareOfCommitment)</th>
                <th>@Html.DisplayNameFor(model => model.ApplicationDate)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Position)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.CvFileName)</td>
                    <td>@Html.DisplayFor(modelItem => item.PortfolioLink)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsAwareOfUnpaid)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsAvailableASAP)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsCommitToThreeMonths)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsAwareOfCommitment)</td>
                    <td>@item.ApplicationDate.ToString("yyyy-MM-dd")</td>*-
                </tr>
            }
        </tbody>
    </table>
</div>
