@model IEnumerable<Alef_Academy_Main.Models.Internship>

@{
    ViewData["Title"] = "Internship Applications";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Apply For Internship</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.position)</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.email)</th>
                <th>@Html.DisplayNameFor(model => model.cvfilename)</th>
                <th>@Html.DisplayNameFor(model => model.portfoliolink)</th>
                <th>@Html.DisplayNameFor(model => model.isawareofunpaid)</th>
                <th>@Html.DisplayNameFor(model => model.isavailableasap)</th>
                <th>@Html.DisplayNameFor(model => model.iscommittothreemonths)</th>
                <th>@Html.DisplayNameFor(model => model.isawareofcommitment)</th>
                <th>@Html.DisplayNameFor(model => model.applicationdate)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.position)</td>
                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                    <td>@Html.DisplayFor(modelItem => item.email)</td>
                    <td>@Html.DisplayFor(modelItem => item.cvfilename)</td>
                    <td>@Html.DisplayFor(modelItem => item.portfoliolink)</td>
                    <td>@Html.DisplayFor(modelItem => item.isawareofunpaid)</td>
                    <td>@Html.DisplayFor(modelItem => item.isavailableasap)</td>
                    <td>@Html.DisplayFor(modelItem => item.iscommittothreemonths)</td>
                    <td>@Html.DisplayFor(modelItem => item.isawareofcommitment)</td>
                    <td>@item.applicationdate.ToString("yyyy-MM-dd")</td>*-
                </tr>
            }
        </tbody>
    </table>
</div>
